<div class="d-editor-window d-window">
        <div class="d-window-header d-header">
        <div class="d-window-title d-title" data-dojo-attach-point="windowtitle"></div>
    </div>

    <div class="d-window-body d-body">
        <div data-dojo-attach-point="containerNode" class="d-editor-content d-content"></div>
    </div>
    <div class="d-editor-footer d-footer" data-dojo-attach-point="footerNode">
        <a data-dojo-type="jdash.ui.Button" data-dojo-attach-event="onClick:_onSave" data-dojo-attach-point="saveBtn">Save</a>
        <a data-dojo-type="jdash.ui.Button" class=".d-btn-default" 
            data-dojo-attach-event="onClick:_onApply" data-dojo-attach-point="applyBtn">Apply</a>
        <a data-dojo-type="jdash.ui.Button" class=".d-btn-default" 
            data-dojo-attach-event="onClick:_onCancel" data-dojo-attach-point="cancelBtn">Cancel</a>
    </div>
</div>
