<div id="d_pane${id}" class="d-dashlet-pane d-pane">
    <div data-dojo-attach-point="dashletHeader" class="d-dashlet-header d-header">
        <div data-dojo-attach-point="dashletCommands" class="d-dashlet-commands d-commands">
        </div>
        <div class="d-dashlet-title d-title" data-dojo-attach-point="dashletTitle"></div>
    </div>
    <div class="d-dashlet-body d-body">
        <div class="d-editor-container d-container" data-dojo-attach-point="dashletEditorContainer" style="display: none">
        </div>
        <div class="d-dashlet-container d-container" data-dojo-attach-point="dashletContent" id="dashlet_content${id}">
            <div class="d-dashlet-content d-content" data-dojo-attach-point="containerNode">
            </div>
        </div>
    </div>
</div>
