<?xml version="1.0"?>
<configuration>
  <configSections>
    <section type="JDash.Configuration.DashboardSettingsSection,JDash" name="JDash"/>
  </configSections>
  <JDash defaultProvider="SQLDashboardProvider" authorizationEnabled="false"
    privilegedRoles="" knownRoleProvider="" roleProvider="">
    <providers>
      <clear />
      <add applicationName="DashboardApp" connectionString="SqlConstr"
        name="SQLDashboardProvider" type="JDash.SqlProvider.Provider, JDash.SqlProvider" />
    </providers>
  </JDash>
  <appSettings>
    <add key="homeDashboardId" value="467" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;url=~/tempImages/"/>
  </appSettings>
  <connectionStrings>
    <add name="SqlConstr" connectionString="Data Source=Data Source=[YOUR SQL SERVER];Initial Catalog=[YOUR DATABASE];User ID=[USERNAME];Password=[PASSWORD]" providerName="System.Data.SqlClient"></add>
  </connectionStrings>
 <system.web>
    <httpHandlers>
      <add  verb="GET" path="nls/*.js" type="JDash.WebForms.NlsHandler, JDash.WebForms, Version=4.1.0.0, Culture=neutral, PublicKeyToken=b5fa106e3affb7e3"/>
    </httpHandlers>
    <sessionState  timeout="60" ></sessionState>
    <compilation debug="true" targetFramework="4.0"/>
    <pages validateRequest="false">
      <controls>
        <add tagPrefix="jdash" namespace="JDash.WebForms" assembly="JDash.WebForms" />
        <add tagPrefix="jdemo" namespace="JDash.WebForms.Demo.Controls.UI"
          assembly="JDash.WebForms.Demo" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
          assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <httpRuntime requestValidationMode="2.0" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="JDashNlsHandler" />
      <add name="JDashNlsHandler" verb="GET" path="nls/*.js" type="JDash.WebForms.NlsHandler, JDash.WebForms, Version=4.1.0.0, Culture=neutral, PublicKeyToken=b5fa106e3affb7e3" />
    </handlers>
  </system.webServer>

</configuration>