<?xml version="1.0"?>
<configuration>
  <configSections>
    <section type="JDash.Configuration.DashboardSettingsSection,JDash" name="JDash"/>
  </configSections>
  <JDash defaultProvider="SQLDashboardProvider" authorizationEnabled="false"
    privilegedRoles="" knownRoleProvider="" roleProvider="" autoCreateMetadata="false">
    <providers>
      <clear />
      <add applicationName="DashboardApp" connectionString="SqlConstr"
        name="SQLDashboardProvider" type="JDash.SqlProvider.Provider, JDash.SqlProvider" autoCreateMetadata="false" />
      <add applicationName="DashboardApp" connectionString="mySqlConstr" authorizationEnabled="false" name="MySQLDashboardProvider"
      autoCreateMetadata="false"  type="JDash.MySQLProvider.Provider,JDash.MySQLProvider" />
    
      <add applicationName="DashboardApp" name="SessionStateProvider"
        type="JDash.SessionProvider.Provider, JDash.SessionProvider" />
    </providers>
  </JDash>
  <appSettings>
    <add key="homeDashboardId" value="473" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;url=~/tempImages/"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="SqlConstr" connectionString="server=master.kalitte.local;user id=root;password=Kalitte2010;database=jdashwebformsdemo" providerName="System.Data.EntityClient"/>-->
    <!--<add name="SqlConstr" connectionString="data source=master.kalitte.local/JDASH;password=Kalitte2010;user id=Berkay" providerName="System.Data.EntityClient"/>-->

    <!--<add name="SqlConstr" connectionString="Data Source=.;Initial Catalog=JDashWebFormsDemo;User ID=sa;Password=Kalitte2010"
         providerName="System.Data.SqlClient"></add>-->
    <add name="SqlConstr" connectionString="Data Source=master.kalitte.local;Initial Catalog=JDashWebFormsDemo;User ID=sa;Password=Kalitte2010" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <!--<httpHandlers>
      <add path="nls/*.js" verb="GET" type="JDash.WebForms.NlsHandler"
        validate="false" />
    </httpHandlers>-->
    <sessionState  timeout="60" ></sessionState>
    <compilation debug="true" targetFramework="4.0"/>
    <pages validateRequest="false">
      <controls>
        <add tagPrefix="jdash" namespace="JDash.WebForms" assembly="JDash.WebForms" />
        <add tagPrefix="jdemo" namespace="JDash.WebForms.Demo.Controls.UI"
          assembly="JDash.WebForms.Demo" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
          assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <httpRuntime requestValidationMode="2.0" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="JDashNlsHandler" />
      <add name="JDashNlsHandler" verb="GET" path="nls/*.js" type="JDash.WebForms.NlsHandler, JDash.WebForms, Version=4.3.0.0, Culture=neutral, PublicKeyToken=b5fa106e3affb7e3" />
    </handlers>
  </system.webServer>

</configuration>