<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings><add name="Entities" connectionString="metadata=res://*/Models.OracleDBModel.csdl|res://*/Models.OracleDBModel.ssdl|res://*/Models.OracleDBModel.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=master.kalitte.local/JDASH;password=Kalitte2010;persist security info=True;user id=JDASHUSER&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>