<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content1">
            <div class="dashboards-panel">

@*                <div class="modal-footerxx">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>*@
                <div class="sb-container">
                    @foreach (var item in Model)
                    {
                        var iconClass = (item.config != null && item.config.ContainsKey("iconClass")) ?
                            item.config["iconClass"] :
                            "glyphicon-star";
                        var color = (item.config != null && item.config.ContainsKey("color")) ?
                            item.config["color"] :
                                "";
                        <div data-dashboard-id="@item.id" style="background-color: @color">
                            <span class="btnContainer">
                                <button type="button" class="btn btn-primary">Open Me</button>
                            </span>
                            <span class="sb-icon glyphicon @iconClass"></span>
                            <h4><span>@item.title</span></h4>


                        </div>
                    }
                </div>
            </div>

        </div>

    </div>
</div>
