<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IJDashRegistrationService">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="basic" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://secure.kalitte.local/Jdash/RegistrationService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IJDashRegistrationService"
                contract="JDashRegistrationService.IJDashRegistrationService"
                name="WSHttpBinding_IJDashRegistrationService" />
        </client>
    </system.serviceModel>
</configuration>