<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xdt:Transform="Replace">
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section type="JDash.Configuration.DashboardSettingsSection,JDash" name="JDash"/>
  </configSections>
  <JDash defaultProvider="SQLDashboardProvider" >
    <providers>
      <clear/>
      <add applicationName="DashboardApp" connectionString="SqlConstr" name="SQLDashboardProvider" type="JDash.SQLProvider.Provider,JDash.SQLProvider"/>
    </providers>
  </JDash>
  <connectionStrings>
    <add name="SqlConstr" connectionString="Data Source=Data Source=[YOUR SQL SERVER];Initial Catalog=[YOUR DATABASE];User ID=[USERNAME];Password=[PASSWORD]" providerName="System.Data.SqlClient"></add>
  </connectionStrings>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
  </system.webServer>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="jdashUi" namespace="JDash.Webform.Management.Core.Controls.UI" assembly="JDash.Webform.Management"/>
      </controls>
    </pages>
  </system.web>
</configuration>