<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  <add name="MySQLDashEntity" connectionString="metadata=res://*/Models.MySqlDBModel.csdl|res://*/Models.MySqlDBModel.ssdl|res://*/Models.MySqlDBModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=master.kalitte.local;user id=root;password=Kalitte2010;persist security info=True;database=jdashwebformsdemo&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>