<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings />
  <connectionStrings>
    <add name="DashboardRegistrationConnectionString" connectionString="Data Source=master.kalitte.local;Initial Catalog=JDashRegistration;Persist Security Info=True;User ID=sa;Password=Kalitte2010" providerName="System.Data.SqlClient" />
    <add name="JDashRegistrationEntities" connectionString="metadata=res://*/JDashRegistration.csdl|res://*/JDashRegistration.ssdl|res://*/JDashRegistration.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=master.kalitte.local;initial catalog=JDashRegistration;persist security info=True;user id=sa;password=Kalitte2010;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="JDash.ProductRegistration.Behavior" name="JDash.ProductRegistration.RegistrationService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="RequestUserName" contract="JDash.ProductRegistration.IJDashRegistrationService">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="RequestUserName" >
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="JDash.ProductRegistration.Behavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="JDash.ProductRegistration.Validators.JDashUserValidator, JDash.ProductRegistration"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>